.box {
    margin: auto;
    width: 100%;
    height: 60vh;
}

input {
    display: none;
    position: absolute;
}

.head {
    position: relative;
    width: 80%;
    margin: auto;
    height: 100px;
    margin-top: 60px;
    animation: trans 0.7s linear forwards;
}

ul.timeline {
    padding-top: 15px;
    z-index: 100;
    position: absolute;
    width: 100%;
    margin-top: -40px;
}

ul.timeline li {
    list-style: none;
    float: left;
    width: 20%;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s ease;
    vertical-align: middle;
    height: 60px;
    position: relative;
}

ul.timeline li::before {
    content: ' ';
    width: 25px;
    height: 25px;
    border: 2px solid #aaa;
    border-radius: 50%;
    margin: auto;
    display: block;
    transition: all .3s ease;
}

ul.timeline li:hover::before {
    border: 2px solid #fff;
    background: #777;
}

ul.timeline li .inner {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    font-weight: bolder;
}

ul.timeline li.active,
ul.timeline li:hover {
    color: #444;
}
ul.timeline li:after {
    content: ' ';
    display: block;
    width: 7px;
    height: 7px;
    background: #777;
    border-radius: 50%;
    margin: auto;
    border: 7px solid #fff;
    margin-top: 40px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

ul.timeline li:hover::after,
ul.timeline li.active::after {
    background: blue;
}

.line {
    width: 76%;
    margin: auto;
    background: #eee;
    height: 7px;
    position: absolute;
    left: 11.5%;
    top: 52px;
    z-index: 1;
    border-radius: 50px;
}

.line span {
    content: '';
    width: 2%;
    height: 100%;
    background-image: linear-gradient(to right, #a29bfe 0%, #ff7675 100%);
    position: absolute;
    border-radius: 50px;
    transition: all 0.8s ease;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    animation: anim .7s linear forwards;
}

section {
    width: 80%;
    margin: auto;
    background-image: linear-gradient(to right, #a29bfe 0%, #ff7675 100%);
    border-radius: 4px;
    padding: 30px;
    color: #fff;
}

section span {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

h1 {
    font-weight: 900;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

section p {
    padding: 30px 40px;
    text-align: center;
    font-weight: bolder;
    font-size: 13px;
}

.QF:checked ~ .head .timeline li.st1::before,
.DS:checked ~ .head .timeline li.st1::before,
.DS:checked ~ .head .timeline li.st2::before,
.GSI:checked ~ .head .timeline li.st1::before,
.GSI:checked ~ .head .timeline li.st2::before,
.GSI:checked ~ .head .timeline li.st3::before,
.Citi:checked ~ .head .timeline li.st1::before,
.Citi:checked ~ .head .timeline li.st2::before,
.Citi:checked ~ .head .timeline li.st3::before,
.Citi:checked ~ .head .timeline li.st4::before,
.Certification:checked ~ .head .timeline li.st1::before,
.Certification:checked ~ .head .timeline li.st2::before,
.Certification:checked ~ .head .timeline li.st3::before,
.Certification:checked ~ .head .timeline li.st4::before,
.Certification:checked ~ .head .timeline li.st5::before {
    border: 2px solid #fff;
    background: #777;
    transition:  all .3s ease;
}

.DS:checked ~ .head .line span {
    width: 25%;
}

.GSI:checked ~ .head .line span {
    width: 50%;
}

.Citi:checked ~ .head .line span {
    width: 75%;
}

.Certification:checked ~ .head .line span {
    width: 100%;
}

.QF-section,
.DS-section,
.GSI-section,
.Citi-section,
.Certification-section {
    transform: scale(0);
    transform-origin: center bottom;
    transition: all .7s ease;
    position: absolute;
    top: 0;
}

.QF:checked ~ .content .QF-section,
.DS:checked ~ .content .DS-section,
.GSI:checked ~ .content .GSI-section,
.Citi:checked ~ .content .Citi-section,
.Certification:checked ~ .content .Certification-section {
    display: block;
    transform: scale(1);
    transform-origin: bottom;
}

@keyframes anim {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes trans {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 858px) {
    .box {
        height: 80vh;
    }
}